.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}
.img-btn {
  opacity: 0.55;
  border: 0px solid black;
  border-radius: 1px;
  text-transform: uppercase;
  border-radius: 20px;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.img-btn:focus {
  outline: none;
}
.btn2 {
  border: 1px solid black;
  border-radius: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
}

.img-clicked {
  opacity: 1;
  border: 0px solid white;
  border-radius: 1px;
  text-transform: uppercase;
  border-radius: 20px;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.img-clicked:focus {
  outline: none;
}
.label {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 120px;
}
.labeladj {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -20px;
}
.item-div {
  height: 200px;
  position: relative;
}

.slider {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 120px;
}

.modals {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.modals2 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
  border: 2px solid black;
}

.bar {
  height: 40px;
  background-color: rgba(0, 0, 1, 0.25);
}
.button-div {
  opacity: 1;
  border: 2px solid white;
  border-radius: 10px;
  text-transform: uppercase;
}
.button-div:focus {
  outline: none;
}
.bar2 {
  height: 180px;
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: rgba(38, 93, 212, 0.5);
}
.bar2 > div {
  flex-basis: calc(26% - 40px);
}
.categ-div {
  height: 150px;
  flex: 0 0 auto;

  text-align: center;
}

.img {
  opacity: 1;
  border: 2px solid white;
  border-radius: 1px;
  text-transform: uppercase;
  border-radius: 20px;
  margin: 0;
}
label2 {
  margin: 0;
  text-align: center;
}
.bar3 {
  text-align: center;
  height: 100%;
  background-color: rgba(38, 212, 116, 0.5);
  white-space: nowrap;
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
}

.iflex {
  flex: 0 0 auto;
}
.grid-container {
  text-align: center;
}

.grid {
  position: absolute;
  left: 10%;
  width: 80%;
  min-height: 100%;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}
